form{
	border:1px dotted #aaaaaa;
	padding:3px 6px 3px 6px;
}

input{
	color:#00008B;
	background-color:#ADD8E6;
	border:1px solid #00008B;
}

select{
	width:100px;
	color:#00008B;
	background-color:#ADD8E6;
	border:1px solid #00008B;
}

textarea{
	width:200px;
	height:40px;
	color:#00008B;
	backfround-color:#ADD8E3;
	border:1px solid #00008B;
}